# **Assinment**
1. What are data structures, and why are they important ?
  - Data structures are fundamental concepts in computer science that enable efficient organization, storage, and manipulation of data. They provide a way to manage large amounts of data, making it possible to perform operations such as sorting, searching, inserting, and deleting data quickly and efficiently.
- **IMPOTANCE OF DATA STRUCTURES**
  - *Efficient of Data Managment* :- Data structures enable efficient storage, retrieval, and manipulation of data.
  -*Improved Pweformance* :- Well -designed data structures can significantly improve the performance of algorithms and applications.
  -*Simplified code* :- Data structures provide a way to abstract complex datarelationships, making code easier to write and maintain.
  -*Scalability* :-  Data structures can handle large amounts of data, making them essential for big data applications.
  -*Provlem-Solving* :- Data structures provide a way model real-world problems, making it easier to develop efficient solutions.

2.   Explain the difference between mutable and immutable data types with examples ?
  - *In programming, data types can be classified into two main categories* :
  mutable and immutable. The primary difference between them lies in their ability to change their values after they are created.

  - Immutable data types are those that cannot be modified once they are created. Their values remain constant throughout the program's execution. Ex - Floats, Strings, tuples etc.
  
  - On the other hand, mutable data types can be modified after they are created. Their values can be changed as needed. Ex - Lists, Dictionarys, Sets etc.

3. What are the main differences between lists and tuples in Python ?
  - The main difference b/w a list and tuple in python is that lists are mutable, meaning they can be modified after creation, while tuples are immutable, meaning they cannot be changed once defined.
4. Describe how dictionaries store data ?
 - Dictionaries are used to store data values in key:value pairs.

  Example:-

In [ ]:
# Here's an example of how a dictionary might store data:
my_dict = {"name": "John", "age": 30, "city": "New York"}
my_dict

{'name': 'John', 'age': 30, 'city': 'New York'}

5. Why might you use a set instead of a list in Python ?
  - You might use a set instead of a list in Python for several reasons :-

  1. **Uniqueness**

    Sets automatically eliminate duplicate values, whereas lists allow duplicates.
  
     Example -

In [ ]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)  # {1, 2, 3, 4, 5}

  2. **Faster Membership Testing (in Operator)**
    
     Checking if an item exists in a set (x in set) is O(1) on average, while in a list, it's O(n).

     Example -

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_set = {1, 2, 3, 4, 5}

print(3 in my_list)  # Slower (O(n))
print(3 in my_set)   # Faster (O(1))

True
True

   3. **Set Operations (Union, Intersection, Difference, Symmetric Difference)**
    - Sets support mathematical operations that lists do not :-

       Example -

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)  # Union -> {1, 2, 3, 4, 5}
print(set1 & set2)  # Intersection -> {3}
print(set1 - set2)  # Difference -> {1, 2}
print(set1 ^ set2)  # Symmetric Difference -> {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

6.  What is a string in Python, and how is it different from a list ?

  **STRING** :- A string in Python is a sequence of characters enclosed in single ('), double ("), or triple (''' or """) quotes. Strings are immutable, meaning they cannot be changed after creation.

  Example -

In [ ]:
text = "Hello, World!"
print(text)  # Output: Hello, World!
type(text) # Output:str

Hello, World!

str

  - **Difference b/w list and string** :-  

   In Python, a string is a sequence of characters, while a list is a sequence of items that can be of any type.

7. How do tuples ensure data integrity in Python ?
 - Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be modified, added, or removed after creation. This prevents accidental changes, making them ideal for storing constant or fixed data, such as database records or function returns. Since tuples are hashable (if they contain only immutable elements), they can be used as dictionary keys and set elements, ensuring data consistency. Their immutability also leads to better performance compared to lists, as Python optimizes tuple storage. By using tuples, developers prevent unintended modifications, ensuring reliable and consistent data throughout a program's execution.

8. What is a hash table, and how does it relate to dictionaries in Python ?

  - A hash table is a data structure that stores key-value pairs using a hash function to map keys to unique indices. This enables fast lookups, insertions, and deletions in O(1) time on average.

  - In Python, dictionaries (dict) are implemented using hash tables, allowing efficient key-based access. Each key is hashed, and its corresponding value is stored at the computed index. Since hash tables rely on unique keys, Python dictionaries do not allow duplicate keys. Collisions are handled using techniques like open addressing or separate chaining to maintain efficiency.

9.  Can lists contain different data types in Python ?

  - Yes, Python lists can contain different data types because they are **heterogeneous**. A single list can hold **integers, floats, strings, booleans, other lists, tuples, dictionaries, and even functions**. This flexibility makes lists powerful for storing mixed data in dynamic applications.

  Example -

In [ ]:
my_list = [42, "hello", 3.14, True, [1, 2, 3], {"key": "value"}]

  - Unlike arrays in some languages, Python lists are dynamic and not type-restricted, allowing diverse data storage within a single collection.

10. Explain why strings are immutable in Python ?
  - Strings in Python are immutable to ensure security, efficiency, and hashability. Since strings are widely used in hash tables (e.g., dictionary keys), immutability ensures their hash values remain constant, preventing unpredictable behavior. Additionally, Python optimizes memory usage by reusing identical string objects (string interning), reducing redundant allocations.

  - Immutability also prevents accidental modifications, making strings safer in multi-threaded environments. If modification is needed, Python creates a new string instead of altering the original. This design improves performance and ensures data integrity throughout execution.

11. What advantages do dictionaries offer over lists for certain tasks ?
   - Dictionaries offer **faster lookups** (O(1) average time complexity) compared to lists (O(n)), making them ideal for key-value mappings. They allow **direct access** to values using unique keys instead of searching through an index. Dictionaries also support **dynamic data storage**, enabling flexible modifications. Unlike lists, they store **associative data**, making them useful for configurations, caching, and indexing. Additionally, dictionaries prevent **duplicate keys**, ensuring data integrity. Their **hash-based implementation** enhances efficiency in large-scale applications.

12. Describe a scenario where using a tuple would be preferable over a list ?
  - A scenario where using a tuple would be preferable over a list is when representing a record or a row in a database.
  - For example  -
    consider a student's information: name, age, and grade. This data is typically not modified once created. A tuple would be a suitable choice here because it is immutable, ensuring the data remains consistent and tamper-proof. Additionally, tuples are more memory-efficient and faster than lists, making them ideal for large datasets. This ensures data integrity and performance.

13.  How do sets handle duplicate values in Python ?
  - Sets in Python automatically remove duplicate values because they are unordered collections of unique elements. When adding elements to a set, Python uses a hash table to check for duplicates and only keeps unique values.

   Example -

In [ ]:
s = {1, 2, 2, 3, 4, 4}
print(s)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

14.  How does the “in” keyword work differently for lists and dictionaries ?
  - The in keyword checks for membership but works differently for **lists** and **dictionaries**:

- **Lists** : Searches **all elements** sequentially (**O(n)** time complexity)

In [ ]:
lst = [1, 2, 3]
print(2 in lst)  # True (Linear search)

True

  - **Dictionaries** : Checks **keys only** using a **hash table (O(1)** on average).

In [ ]:
d = {"a": 1, "b": 2}
print("a" in d)  # True (Fast lookup)

True

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, you *cannot modify*  the elements of a *tuple* because tuples are *immutable* in Python. Once created, their elements cannot be *changed, added, or removed*.

   Example -

In [ ]:
t = (1, 2, 3)
t[0] = 10    # t[0] = 10  # ❌ TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case ?
  - A *nested dictionary* is a dictionary containing another dictionary as a value. It helps organize *hierarchical* or *structured* data efficiently
-  **Use Case: Storing Student Records**

  Example -

In [ ]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
print(students["Alice"]["grade"])  # Output: A

A

17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary has an average time complexity of O(1) due to its hash table implementation. The key is hashed, and its corresponding value is retrieved in constant time.

  - However, in the worst case (O(n)), hash collisions may require searching through a linked list or another structure.

  Example -

In [ ]:
d = {"a": 1, "b": 2}
print(d["a"])  # O(1) lookup

1

18. In what situations are lists preferred over dictionaries ?
  - Lists are preferred over dictionaries when **order matters, sequential access** is needed, or when storing **homogeneous data**. They are ideal for **indexed** access, **iterating in order**, and **storing simple collections** like numbers or strings.

 **Use lists when** -
- You need ordered elements (list[i]).
- Data is not key-value pairs.
- Memory efficiency is important (lists use less memory than dictionaries).

   Example -

In [ ]:
nums = [10, 20, 30]  # Ordered, index-based access

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - Dictionaries are considered unordered because they use a hash table to store key-value pairs, meaning elements are not stored in a sequential order. Instead, the hash function maps keys to specific memory locations, optimizing fast access (O(1) on average).
  - As a result, dictionaries do not maintain the insertion order prior to Python 3.7 (though insertion order is preserved in Python 3.7+ due to an implementation detail).

  - This unordered nature affects data retrieval by making it impossible to access elements by position or index, unlike lists. However, it enables quick lookups via keys and efficient insertion and deletion operations, enhancing performance.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  - A list retrieves data by index, requiring O(1) time for direct access but O(n) for searching an element.

  - A dictionary retrieves data by key, using a hash table, making lookups O(1) on average.

    Example -

In [ ]:
lst = [10, 20, 30]
print(lst[1])  # O(1) (Index-based)

d = {"a": 10, "b": 20}
print(d["b"])  # O(1) (Key-based)

20
20

# **Practical Questions**

1. Write a code to create a string with your name and print it.
  - Here’s a simple Python code to create a string with my name and print it:

  Example -

In [7]:
name = "Ramesh"
print(name)

Ramesh

2. Write a code to find the length of the string "Hello World".

In [11]:
text = "Hello world"
length = len(text)
print(length)   # The len() function returns the number of characters in the string, including spaces.

11

3. Write a code to slice the first 3 characters from the string "Python Programming".
  - Python code to slice the first 3 characters from the string "Python Programming".

In [12]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text) # The slicing operation text[:3] extracts characters from index 0 to 2 (excluding index 3)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [13]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [14]:
text = "I like apple"
replace_text = text.replace("apple","orange")
print(replace_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [15]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [24]:
number = [1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [25]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [28]:
Alphabet = ['a','b','c','d']
second_element = Alphabet[1]
print(second_element)

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [29]:
numbers = [10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

  - The .reverse() method reverses the list in place. Alternatively, you can use slicing:

In [31]:
numbers = [10,20,30,40,50]
reverse_numbers = numbers[::-1]
print(reverse_numbers)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [41]:
numbers = (10, 20, 30 )
print(numbers)
print(type(numbers))

(10, 20, 30)
<class 'tuple'>

12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [42]:
my_tuple = ('apple','banana','cherry')
first_element = my_tuple[0]
print(first_element)

apple

13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2) .

In [44]:
my_tuple =  (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [49]:
my_tuple = ('dog','cat','rabbit')
index_cat = my_tuple.index('cat')
print(index_cat)

1

15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana') .

In [50]:
tuple = ('apple', 'orange', 'banana')
check_banana = 'banana'in tuple
print(check_banana) # The 'in' keyword checks if the specified element is present in the tuple and returns True or False.

True

16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [52]:
my_sets = { 1, 2, 3, 4, 5 }
print(my_sets)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [54]:
my_sets = {1,2,3,4}
my_sets.add(6)   # The .add() method adds an element to the set. If the element is already in the set, it will not be added again.
print(my_sets)

{1, 2, 3, 4, 6}

18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [55]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [60]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

20.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [62]:
tuple =  (1, 2, 3, 2, 4, 2)
count_of_2 = tuple.count(2)
print(count_of_2)

3

Note - the next questions from 18 to 24 repeated question so I have already solved that questions.    THANK YOU.